/* COLORS */
/* 
#1E3D59
#F5F0E1
#FF6E40
#FFC13B
*/

body {
  background-color: #F5F0E1;
  color: #1E3D59;
}

header {
  background-color: #1E3D59;
  color: #FF6E40;
  min-height: 50px;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
}

header h1 {
  line-height: 1.5;
}

.logo {
  max-width: 40px;
  height: auto;
}

.site-brand {
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  gap: 0.3rem;
  cursor: pointer;
}

.menu-icon {
  font-size: 2.6rem;
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  gap: 1rem;
}

.user-icon {
  font-size: 3.2rem;
}